/* Breadcrumbs */
.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs .separator {
  margin: 0 8px;
}

.breadcrumbs a {
  color: #a0aec0;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #4a5568;
}
